<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Step 14: Dependency Management</title>
  <link rel="stylesheet" href="css/bootstrap.css">
  <link rel="stylesheet" href="css/app.css">
  <script src="lib/angular/angular.js"></script>
  <script src="lib/jquery.js"></script>
  <script src="js/step14.js"></script>
  <script src="js/phondet-angular.js"></script>
  <script src="js/phonapi-angular-mock.js"></script>
  <script src="js/local_phone_db.js"></script>
  <!--script src="js/home_phone_api_mock2.js"></script-->
  <script src="js/utils.js"></script>
</head>
<body ng-app="home" ng-controller="MyCtrl">
  <div class="container">
    <h1>Step 14: Dependency Management</h1>
    <div class="row">
        <span class="pull-left"><a href="step-13.html">&lt;&lt; Escopo isolado: @, =</a></span>
        <span class="pull-right"><a href="index.html">Índice &gt;&gt;</a></span>
    </div>
    <hr>
    <h1>Módulos Angular</h1>

    <img src="img/loader.gif" ng-show="loading">
    <phone-detail title="{{'selecionado: '+selected_index}}" phone="selected_phone"></phone-detail> 

    <div>
        <table class="table">
          <tr>
            <th></th>
            <th>Modelo</th>
            <th>Descrição</th>
          </tr>
          <tr ng-repeat="phone in phones" ng-click="select($index)" ng-class="{selected: phone.id == selected_phone.id}">
            <td><img ng-src="{{phone.imageUrl}}" class="thumb40"></td>
            <td>{{phone.name}}</td>
            <td>{{phone.snippet}}</td>
          </tr>
        </table>
    </div>
  </div>
</body>
</html>
